/*
	Author: John McNeill
	Date: 9/20/23
*/

body {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-family: Lato;
	line-height: 1.6; 
	
}

h1 {

	text-decoration: underline; 
	
}

p {

	font-size: 18px; 

}

ul  {

	font-size: 18px; 

}

#coming_soon_message {

	color: red; 
}

#title_label {

	text-align: center; 
	font-family: 'Brush Script MT'; 
	font-size: 6vw;

}

#introduction p {

	width: 40%;

}

/***Disclaimer***/
#disclaimer {

	border-style: dashed;
	text-align: center; 
	line-height: 1.2;
	margin: 0 auto;
	width: 40%;
}

#disclaimer h2 {

	text-decoration: underline;

}