/*
    Author: John McNeill
    Date: 12/10/23

*/

body
{
}

/***Disclaimer***/
#disclaimer {
    border-style: dashed;
    text-align: center;
    line-height: 1.6;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2vw;
}

    #disclaimer h2 {
        text-decoration: underline;
        font-size: 3vw;
    }